@model Financial_Management_Application.Models.ProductVM.IndexViewModel

@using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <hr style="margin:12px 0 0 0" />
    @Html.ActionLink("Add Product","Create", null,new { @class = "btn" })
    @Html.ActionLink("Add Category", "Create", "Category", null, new { @class = "btn" })
    @Html.ActionLink("View Categories", "Index", "Category", null, new { @class = "btn" })
    <hr style="margin:0 0 12px 0" />

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tableBody">
            @foreach (var item in Model.products)
            {
                <tr id="Edit@(item.Id)">
                    <td>@item.name</td>
                    <td>@item.price.ToString("0.00")</td>
                    <td>@item.Category.name</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { Id = item.Id }, new { @class="btn" })
                        @Html.ActionLink("Delete", "Delete", new { Id = item.Id }, new { @class = "btn", @onclick= "replaceWithMsg(" + @item.Id + ",'Please wait Redirecting to delete page')" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<script>
    function replaceWithMsg(Id, msg)
    {
        var cat = document.getElementById('Edit' + Id);
        cat.innerHTML = "<td style='background-color:#DA4453; width:140;'>" + msg + "</td><td></td><td></td>";
    }
</script>
