@model Financial_Management_Application.Models.ProductVM.IndexViewModel
@{
    ViewBag.Title = "EditProduct";
    Layout = "~/Views/Shared/_LayoutDataPage.cshtml";
}



<h2>Product</h2>
@Ajax.ActionLink("Create Product", "CreatePartial", new AjaxOptions { UpdateTargetId = "partialProductContents", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" })
@Html.Action("ViewPartial")

    @*could also add a string to the database and check if user has access to that string*@
    @*@if (User.IsInRole(ApplicationSettings.getString(ApplicationSettings.RoleTypes.PurchasingAgent)))
    {*@
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a data-target="#create" data-toggle="tab">Product</a></li>
            <li><a data-target="#category" data-toggle="tab">Category</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="create">@Html.Action("CreatePartial")</div>
            <div class="tab-pane" id="category">@Html.Action("CategoryPartial")</div>
        </div>
    @*  }*@
    <div class="container">
        <div id="partialProductContents"></div>
    </div>
    
    @section scripts{
        @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    }
