@model Financial_Management_Application.Models.ProductVM.ViewPartialViewModel
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Notify Type</th>
            <th>Notify Text</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.products)
        {
            using (Html.BeginForm("ViewProduct", "Product", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <tr>
                    <td>@item.name</td>
                    <td>@item.price</td>
                    <td>@item.Category.name</td>
                    <td class="form-group row">
                        @Ajax.ActionLink("Edit", "EditPartial", new { id = item.Id.ToString() }, new AjaxOptions { UpdateTargetId = "partialProductContents", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@section scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}