@model Financial_Management_Application.Models.CategoryVM.IndexViewModel

@Html.ActionLink("View Products", "Index", "Product", null, new { @class = "btn" })
@Html.ActionLink("Add Category", "Create", "Category", null, new { @class = "btn" })


<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tableBody">
        @foreach (var item in Model.categories)
        {
            <tr id="Edit@(item.Id)">
                <td>@item.name</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { Id = item.Id }, new { @class = "btn" })
                    @Html.ActionLink("Delete", "Delete", new { Id = item.Id }, new { @class = "btn", @onclick = "javascript:document.getElementById('tableBody').removeChild(document.getElementById('Edit" + item.Id + "'))" })
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}
