@model Financial_Management_Application.Models.CategoryVM.IndexViewModel
<hr style="margin:12px 0 0 0" />
@Html.ActionLink("View Products", "Index", "Product", null, new { @class = "btn" })
@Html.ActionLink("Add Category", "Create", "Category", null, new { @class = "btn" })
<hr style="margin:0 0 12px 0" />

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tableBody">
        
        @foreach (var item in Model.categories)
        {
            <tr id="Edit@(item.Id)">
                <td>@item.name</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { Id = item.Id }, new { @class = "btn" })
                    @Html.ActionLink("Delete", "Delete", new { Id = item.Id }, new { @class = "btn", @onclick = "categoryRemove(" + @item.Id + ")" })
                </td>
            </tr>
        }

    </tbody>
</table>

<script>
    function categoryRemove(Id)
    {
        var cat = document.getElementById('Edit' + Id);
        cat.innerHTML = "<td style='background-color:#DA4453; width:140;'>Please wait Redirecting to delete page</td><td></td><td></td>";
    }
</script>
@section scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}
