@model Financial_Management_Application.Models.TransactionVM.IndexViewModel
@{
    ViewBag.Title = "View";
}

<h2>View Transactions</h2>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Unit price</th>
            <th>purchase Date</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.transactions)
        {
            <tr>
                <td>@item.cartId</td>
                <td>@item.Product.name</td>
                <td>@item.quantity</td>
                <td>@item.unitPrice</td>
                <td>@item.purchaseDate</td>

            </tr>
        }
    </tbody>
</table>
