@model Financial_Management_Application.Models.TransactionVM.RequestTransactionViewModel

@Scripts.Render("~/Scripts/Transaction_Page.js")
<h2>Request Form</h2>



<div class="container">
    @*<form class="col-xs-6">
        <fieldset>
            <legend>Please enter the details below</legend>
            <div>
                <label for="ProductNumber">Enter your product number:</label>
                <input class="form-control" id="ProductNumber" />
            </div>
            <br />
            <div>
                <label for="Quantity">Enter your quantity:</label>
                <input class="form-control" id="Quantity" />
            </div>
        </fieldset>    
    </form>
    <button class="btn btn-search" onclick="addItem()">Add</button>
    <br/>*@

    
    <div class="col-xs-6">
        <h3>My Cart</h3>
        <table id="myCart" class="table" style="float:left">
            <thead>
                <tr>
                    <th>Your items</th>
                    <th>Quantity</th>
                </tr>
                <tr></tr>
            </thead>
        </table>
    </div>
</div>

<br/>
<br/>

<div class="container" >
    <form action="#" method="get" onsubmit="return false" style="z>
        <label for="q">Enter your Search Term:</label>
        <input type="text" class="form-control" size="30" name="q" id="searchTerm" value="" onkeyup="doSearch()"/>

    </form>
    <br />
    <table class="table" id="datatable" style="float:left">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @*@foreach (var item in Model.ProductTable)
            {
                using (Html.BeginForm("RequestTransaction", "Transaction", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <tr>
                        
                        <td id="this">@Html.Encode(item.Id)</td>
                        <td name="ProductNumber">@Html.Encode(item.name)</td>
                        <td>@Html.Encode(item.Category.name)</td>
                        <td>@Html.Encode(item.price.ToString("0.00"))</td>
                        <td><a onclick="addItem()">Add</a></td>
                        
                    </tr>
                }
            }*@

            @for (int i = 0; i < Model.ProductTable.Count; i++)
            {
                using (Html.BeginForm("RequestTransaction", "Transaction", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <tr>

                        <td>@i</td>
                        <td name="ProductNumber">@Model.ProductTable[i].name</td>
                        <td>@Model.ProductTable[i].Category.name</td>
                        <td>@Model.ProductTable[i].price.ToString("0.00")</td>
                        <td name="productId"><a onclick="addItem(@i)">Add</a></td>

                    </tr>
                }

            }
        </tbody>
    </table>
</div>
@section scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}