@model Financial_Management_Application.Models.TransactionVM.RequestTransactionViewModel

@Scripts.Render("~/Scripts/Transaction_Page.js")
<h2>Request Form</h2>



<div class="container">
    <div class="col-xs-6">
        <h3>My Cart</h3>
        <table id="myCart" class="table" style="float:left">
            <thead>
                <tr>
                    <th>Your items</th>
                    <th>Quantity</th>
                </tr>
                <tr></tr>
            </thead>
        </table>
    </div>
</div>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="7NPC4F53SQRK2">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>



<br/>
<br/>

<div class="container" >
    <form action="#" method="get" onsubmit="return false" style="";>
        <label for="q">Enter your Search Term:</label>
        <input type="text" class="form-control" size="30" name="q" id="searchTerm" value="" onkeyup="doSearch()"/>

    </form>
    <br />
    <table class="table" id="datatable" style="float:left">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        
          

            @for (int i = 0; i < Model.ProductTable.Count; i++)
            {
                using (Html.BeginForm("RequestTransaction", "Transaction", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <tr>

                        <td>@i</td>
                        <td name="ProductNumber">@Model.ProductTable[i].name</td>
                        <td>@Model.ProductTable[i].Category.name</td>
                        <td>@Model.ProductTable[i].price.ToString("0.00")</td>
                        <td><input type="text" id="quantity@(i)"/></td>
                        <td><input type="submit" class="btn btn-default" value="Add" /></td>
                    </tr>
                }

            }
        </tbody>
    </table>
</div>
@section scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}