@using Financial_Management_Application.Models
@model LoginViewModel
@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/public.css" rel="stylesheet" />
<body>
    <header>
        <h1 align="center">Department Of Defense</h1>
        <hr>
    </header>

    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-bottom:10px" >
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox" align="center">
            <div class="item active">
                <img src="~/Content/Images/jet.jpg" alt="Jet">
            </div>

            <div class="item">
                <img src="~/Content/Images/seal.jpg" alt="Seal">
            </div>

            <div class="item">
                <img src="~/Content/Images/ship.jpg" alt="Ship">
            </div>

            <div class="item">
                <img src="~/Content/Images/soldiers.jpg" alt="Soldiers">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true" style="color:black"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true" style="color:black"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="container col-sm-12">
       
        <div class="well">
            <h2 align="center">Who we are</h2>
            <p>
                The Department of Defense is America's oldest and largest government agency.
                With our military tracing its roots back to pre-Revolutionary times, the Department of Defense has grown and
                evolved with our nation.Today, the Department, headed by Secretary of Defense Ash Carter, is not only in charge
                of the military, but it also employs a civilian force of thousands. With over 1.3 million men and women on active
                duty, and 742,000 civilian personnel, we are the nation's largest employer. Another 826 thousand serve in the
                National Guard and Reserve forces. More than 2 million military retirees and their family members receive benefits.
            </p>
            <br/><button class="btn btn-sm btn-success">Learn More</button>
        </div>
    </div>


    <div class="container col-sm-6 ">
        <div class="well" style="padding:0; margin:0; position:relative; ">
            <img src="~/Content/Images/corner.jpg" style="height: 80px; width:80px;position:absolute;" />
            <h3 style="padding-left:2.25cm;">So what's new?</h3>
            <br/>

            <ul class="whatsNew">
                <li>A more modern, more responsive website!</li>
                <li>The ability to perform online transactions for all non-combative items!</li>
              

            </ul>
        </div>
    </div>


    <div class="container col-sm-6">
       <div class="well">
         <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Use a local account to log in.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>
                <p>
                    Don't have an account? -
                    @Html.ActionLink("Register as a new user", "RegisterRequest")
                </p>
                @* Enable this once you have account confirmation enabled for password reset functionality
                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>*@
            }
            </section>
        </div>
    </div>









    </div>
</body>