@model Financial_Management_Application.Models.NotifyViewModel
@{
    ViewBag.Title = "Notify";
}

<h2>Notify</h2>

<p> this is the location where you can check notifications</p>
@if(Model.notifyList.Count == 0)
{
    <h2>No Notifications check back later</h2>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Notify Type</th>
                <th>Notify Text</th>
                <th>User Role</th>
                <th>Approval</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.notifyList)
            {
                <tr>
                    @*if you are a * then you can accept new users*@
                    @if ((User.IsInRole(AppSettings.Roles.MANAGER) && (Model.Role.Equals(AppSettings.Roles.SUPERVISOR)))
                        || (User.IsInRole(AppSettings.Roles.CONGRESS)) @* Congress can add them all*@
                        || (User.IsInRole(AppSettings.Roles.ADMIN) && (Model.Role.Equals(AppSettings.Roles.MANAGER)))
                        || (User.IsInRole(AppSettings.Roles.SUPERVISOR) && (Model.Role.Equals(AppSettings.Roles.APPROVEDUSER) || Model.Role.Equals(AppSettings.Roles.PURCHASINGAGENT) || Model.Role.Equals(AppSettings.Roles.EXTERNAL)))
                        )
                    {
                        using (Html.BeginForm("Notify", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            if (item.notifyType.Equals(AppSettings.Notify.newUser))
                            {

                                <td>@item.notifyType</td>
                                <td>@item.notifyText</td>
                                <td>@Html.DropDownListFor(m => m.Role, Model.Roles, new { @class = "form-control" })</td>
                                <td class="form-group row">
                                    <input type="hidden" name="id" value="@item.Id" />
                                    <div class="col-md-3">
                                        <input type="submit" name="submitButton" class="btn btn-default" value="Accept" />
                                    </div>
                                    <div class="col-md-3">
                                        <input type="submit" name="submitButton" class="btn btn-default" value="Deny" />
                                    </div>
                                </td>
                            }
                            else if (item.notifyType.Equals(AppSettings.Notify.pendingUser))
                            { // alternate display
                                <td>@item.notifyType</td>
                                <td>@item.notifyText</td>
                                <td>@item.Role</td>
                                <td class="form-group row">
                                    @Html.Hidden("Role", item.Role)
                                    <input type="hidden" name="id" value="@item.Id" />
                                    <div class="col-md-3">
                                        <input type="submit" name="submitButton" class="btn btn-default" value="Resend Notification" />
                                    </div>
                                </td>
                            }
                        }
                    }

                    @*show transaction requests to perchasing agents*@
                    else if (item.notifyType.Equals(AppSettings.Notify.pendingTransactionRequest) && (User.IsInRole(AppSettings.Roles.PURCHASINGAGENT) || User.IsInRole(AppSettings.Roles.CONGRESS)))
                    {
                        <td>@item.notifyType</td>
                        <td>@item.notifyText</td>
                        <td>@item.Role</td>
                        <td class="form-group row">
                            <input type="hidden" name="id" value="@item.Id" />
                            <div class="col-md-3">
                                @Html.ActionLink("Load Transaction (Deletes current cart)", "RequestTransaction", "Transaction", new { Id = @item.notifyText }, new { })
                            </div>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}